
<div style="text-align:center">
    <table border=1>
        <thead>
            <td>S.No</td>
            <td>
                Money
            </td>
            <td>
                Interest

            </td>
            <td>
                Given Date
            </td>
        </thead>

<tbody>
 <tr *ngFor='let payment of payments; let i=index'>
                <td>{{i+1}}</td>
                <td>{{payment.money}}</td>
                <td>{{payment.interest}}</td>
                <td>{{payment.givenDate}}</td>
    </table>